<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 mb-md-0 mb-3 blessing-statement">
        <!-- Content -->
        <h1>Sarve Jana Sukhino Bhavanthu</h1>
        <p>
          May all the world be at peace within you ...
          <br/>May Everyone be happy and not blue...
          <br/>May each of us realize this truth..
          <br/>that everyone is a part of you..
          <br/>that i am really only you..
        </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Text -->
  <!-- Footer Elements -->

  <!--Grid row-->
  <!-- Footer Elements -->

  <div class="container social-icons">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-11 py-5">
        <div class="mb-5 flex-center">
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>

        </div>
      </div>
      <div class="col-md-1 back-button">
        <a href="#top"></a>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Copyright -->

  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#">sadgurusaishankar.org</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->