<div class="container">
  <form class="input-group">
    <div class="col-md-3">
      <div class="form-group">
        <label for="formGroupExampleInput">Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="formGroupExampleInput2">Email Address</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlTextarea2">Message</label>
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <button class="btn btn-sm btn-outline-white" type="button">Sign up</button>
      </div>
    </div>
  </form>
</div>