<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark naveditor">
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Sadguru Sai Shankar
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="history">History</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="people-involved">People Involved</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="teaching">Teachings</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="publication">Publications</a>
          <!-- <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a> -->
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="gallery">Gallery</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="god">God</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="quote">Quote</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="story">Story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="contact-us">Contact us</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<a name="top"></a>