<div class="container-fluid home-banner">
  <!-- <img src="./../../assets/img/banners/home.jpg"> -->
  <div class="home-quote-row">
    <blockquote class="home-quote">Helping is the best virtue... Harming is the worst sin</blockquote>
    <cite>Vedavyasa</cite>
  </div>
</div>

<div class="container-fluid home-parallax">
  <img src="./../../assets/img/sadguru/Pointing to Thrisula.jpg" class="animated pulse">
  <a type="button" class="btn biography-link" [routerLink]="['biography']">Who am i?</a>
  <h1>Sadguru Sai Shankar</h1>
</div>
<div class="container disciple">
  <div class="row">
    <div class="col-md-4 md-4 discliple-list">
      <img src="./../../assets/img/sarvadharma/sarvadharma.jpg">
      <div class="overlay">
        <p>Shirdi Sai Baba</p>
      </div>
    </div>
    <div class="col-md-4 md-4 discliple-list">
      <img src="./../../assets/img/sarvadharma/sarvadharma.jpg">
      <div class="overlay">
        <p>Sarvadharma</p>
      </div>
    </div>
    <div class="col-md-4 md-4 discliple-list">
      <img src="./../../assets/img/sarvadharma/sarvadharma.jpg">
      <div class="overlay">
        <p>Sathya Sai Baba</p>
      </div>
    </div>
  </div>
</div>

<!-- Teaching Starts here -->
<div class="container-fluid teaching-parallax">
  <p>TEACHINGS</p>
  <blockquote class="teaching-quote">
    <span>Do unto others as you want done to you... Do not do unto others as you do not want done to you</span>
  </blockquote>
</div>
<!-- Teaching ends here -->


<!-- Publications Starts Here -->
<div class="container-fluid publication">
  <div class="row">
    <div class="col-md-12 publication-head">
      Publications
    </div>
  </div>
  <div class="row publication-two">
    <div class="col-md-4 book">
      <img src="./../../assets/img/publication/book4.jpg">
      <h1>From man to divine</h1>
    </div>
    <div class="col-md-4 book">
      <img src="./../../assets/img/publication/book6.jpeg">
      <h1>Om nama shivaya</h1>
    </div>
    <div class="col-md-4 book">
      <img src="./../../assets/img/publication/book6.jpeg">
      <h1>Om Nama Shivaya</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 publication-more">
      <a class="btn btn-success" [routerLink]="['publication']">Find More publications</a>
    </div>
  </div>
</div>
<!-- Publications end here -->

<!-- Story, Bhajanavali and Inspirational Quotes Starts here -->
<div class="container-fluid additional-good">
  <h1>More for you</h1>
  <div class="row">
    <div class="col-md-4 additional-good-things animated headShake">
      <a [routerLink]="['bhajan']">
        <img src="./../../assets/img/bhajan/cassette.jpeg">
        <h1 class="animated fadeIn">Bhajanavali</h1>
      </a>
    </div>
    <div class="col-md-4 additional-good-things animated headShake">
      <a [routerLink]="['story']">
        <img src="./../../assets/img/story/story.jpeg">
        <h1 class="animated fadeIn">Story</h1>
      </a>
    </div>
    <div class="col-md-4 additional-good-things animated headShake">
      <a [routerLink]="['quote']">
        <img src="./../../assets/img/story/story.jpeg">
        <h1 class="animated fadeIn">Quotes</h1>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid sai-contact-us">
  <div class="row">
    <div class="col-md-12 sai-contact-us-link">
      <a [routerLink]="['contact-us']">Contact us</a>
    </div>
  </div>
</div>